@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .type-btn {
    -webkit-text-stroke: 1px rgb(203 213 225) ;
    @apply py-0.5 px-2 text-white font-semibold rounded-lg shadow-md shadow-slate-400 ;
  }
}

/* h1 {
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffcb05;
  -webkit-text-stroke: 1px #3466af;
  -webkit-text-stroke: 1px black;
} */